mat-sidenav-container{
    height: 100%;
}
mat-sidenav-content #container{
    padding-top: 40px;
    padding-left: 10px;
    padding-right: 10px;
}
.menu-item{
    margin-left: 8px;
}
.chevron-button{
    transition: 300ms ease-in-out;
}
.rotated{transform: rotate(180deg);}
.title{
  color: white;
  margin: auto;
}